.text-yellow{
    color: #f5b40e;

}
.text-pink{
    color: #fb3f94;

}
.text-green{
    color: #5cbe0f;

}
.text-jfy{
    text-align: justify;
  text-justify: inter-word;
}
.Pink-bg{
    background-color: #E72B5E !important;
}